@(products: List[Product])
@main("Producs Catalogue") {
    <script>
        function del(urlToDelete) {
            $.ajax({
                url: urlToDelete,
                type: 'DELETE',
                success: function(results) {
                    // Refresh the page
                    location.reload();
                }
            });
        }
    </script>
    <h2>All Products</h2>
    <a href="@routes.ProductsCtrl.newProduct()" class="btn btn-primary">
        Add a Product
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(product <- products) {
                <tr>
                    <td>
                        <a href="@routes.ProductsCtrl.view(product)">
                            @product.ean
                        </a>
                    </td>
                    <td>
                        <a href="@routes.ProductsCtrl.view(product)">
                            @product.name
                        </a>
                    </td>
                    <td>
                        <a href="@routes.ProductsCtrl.view(product)">
                            @product.description
                        </a>
                    </td>
                    <td>
                        <a onclick="del('@routes.ProductsCtrl.delete(product.ean)')">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}